body {
    background-color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container div {
    margin: 0 20px;
}

.square {
    width: 100px;
    height: 100px;
    background-color: green;
}

.circle {
    width: 100px;
    height: 100px;
    background-color: blue;
    border-radius: 50%;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid yellow;
}